<a href="/main">Return to main page</a>
<hr>
<b>Name:</b> {{ recipe[0] }}
<p>
<b>Ingredients:</b>
<ul>
    {% for ingredient in recipe[1].split('\n') %}
        {% if ingredient.strip() %}
            <li>{{ ingredient.strip() }}</li>
        {% endif %}
    {% endfor %}
</ul>
<p>
<b>Instructions:</b>
<ol>
    {% for instruction in recipe[2].split('\n') %}
        {% if instruction.strip() %}
            <li>{{ instruction.strip() }}</li>
        {% endif %}
    {% endfor %}
</ol>
<hr>
{% if session.user_id == recipe[3] %}
    <a href="/edit/{{ recipe[4] }}">Edit post</a>
    | <a href="/delete/{{ recipe[4] }}" onclick="return confirm('Are you sure you want to delete this post?')">Delete post</a>
{% endif %}
<hr>


<form action="{{ url_for('likes.like') }}" method="POST">
    <input type="hidden" name="post_id" value="{{ recipe[4] }}">
    <button type="submit">Like</button>
</form>

<p>Likes: {{ like_count }}</p>
<hr>
<a href="/comments_list/{{ recipe[4] }}">Show comments</a>

