<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/main.css') }}">
<meta name='viewport' content='width=device-width, initial-scale=1'>

<br>
<a href="/main">Back to main page</a>
{% if count > 0 %}
    <h2>Search results for "{{ query }}":</h2>
    <ul>
        {% for post in posts %}
            {% if query.lower() in post.content.lower() %}
                <li>
                    <a href="/recipe/{{ post.id }}">{{ post.content }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No matching posts found.</p>
{% endif %}
